# Exclui pastas de build e configuração
/coverage
/node_modules
/ios/build
/android/build
/lib

# Mantém pastas essenciais
!/src
!/mock.js

# Mantém arquivos essenciais
!/tsconfig.json
!/package.json
!/README.md
